<div class="card">

    <div class="card-header">

        <h3>

            Jobs Recentes

        </h3>

    </div>

    <table
        class="jobs-table">

        <thead>

        <tr>

            <th>ID</th>

            <th>Arquivo</th>

            <th>Status</th>

            <th>Páginas</th>

            <th>Progresso</th>

            <th>Ações</th>

        </tr>

        </thead>

        <tbody
            id="jobsTable">

        <tr>

            <td colspan="6">

                Nenhum Job encontrado.

            </td>

        </tr>

        </tbody>

    </table>

</div>