<div class="card upload-card">

    <h3>

        Upload de Documentos

    </h3>

    <form
        id="uploadForm"
        enctype="multipart/form-data">

        <div
            id="dropzone"
            class="dropzone">

            <div class="drop-icon">

                📂

            </div>

            <h2>

                Arraste PDFs aqui

            </h2>

            <p>

                ou

            </p>

            <label
                class="btn-primary">

                Selecionar Arquivos

                <input
                    id="fileInput"
                    type="file"
                    accept=".pdf"
                    multiple
                    hidden>

            </label>

        </div>

    </form>

</div>