# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env/

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
logs/
*.log

# Jobs
uploads/
output/
pages/
debug/

# Windows
Thumbs.db
Desktop.ini

# Python cache
.pytest_cache/
.mypy_cache/

# Ollama
*.gguf

# Temp
temp/

# Ambiente
.env
.env.*
!.env.example